 <div class="row">
        <div class="col-md-12">
          <%= bootstrap_flash %>
        </div>
    </div>
      <div class="row">
        <div col-md-12>
<div id="map-canvas"></div>
        </div>
        </div>


        <p><%= t('about.main_text') %></p>
<h1><%= t('description') %></h1>
<p><%= t('homepage.main_text') %></p>
<p><%= t('services.main_text') %></p>
<a name="cs">Consulting Services</a>
<div>Business Process Analysis<br>
Web Strategy Consulting<br>Web and Mobile Infrastructure</div>
<a name="ad">Web Application Developemnt</a>
<div>Branding and StyleGuide Development<br>Graphic and Logo Design<br>Mobile Design<br>Web Developemnt<br>Quality Assurance Testing</div>
<a name="ux">User Experience Research</a>
<div>User Experience Analysis<br>
Information Architecture<br>							
Wireframes, Mockups and Rapid Prototyping<br>
Content Strategy Analysis</div>
